<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <title>DASHBOARD</title>
    <link href="/css/dashboard.css" rel="stylesheet">
    <link href="/css/dashboardStyle.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <!-- <% if (error) { %>
            <p class="alert alert-danger">
                <%= error %>
            </p>
            <% } %> -->

        <div class="main">
            <nav class="navbar navbar-expand navbar-light navbar-bg">

                <div class="navbar-collapse collapse">
                    <h1 class="h1 animate-charcter">Dashboard</h1>

                    <ul class="navbar-nav navbar-align">

                        <li class="nav-item dropdown">
                            <a class="btn btn-outline-warning" type="button" data-bs-toggle="modal" data-bs-target="#joinRoom">Join collaboration</a>
                            <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
                                <img src="/img/avatars/avatar.jpg" width="mx-auto" height="mx-auto" class="avatar img-fluid rounded me-1" alt="<%= name %>" />
                            </a>
                            <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                                <img src="/img/avatars/avatar.jpg" class="avatar img-fluid rounded me-1" alt="<%= name %>" /> <span class="text-dark"><%= name %></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <form action="/user/logout" method="post">
                                    <button type="submit" class="dropdown-item"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" style="margin-right: 10px;" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><path fill="white" d="M497 273L329 441c-15 15-41 4.5-41-17v-96H152c-13.3 0-24-10.7-24-24v-96c0-13.3 10.7-24 24-24h136V88c0-21.4 25.9-32 41-17l168 168c9.3 9.4 9.3 24.6 0 34zM192 436v-40c0-6.6-5.4-12-12-12H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h84c6.6 0 12-5.4 12-12V76c0-6.6-5.4-12-12-12H96c-53 0-96 43-96 96v192c0 53 43 96 96 96h84c6.6 0 12-5.4 12-12z"/></svg>Log out</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="modal fade" id="joinRoom">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Enter Room ID</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>

                            <!-- Modal body -->
                            <form action="/user/project/joinRoom" method="post">
                                <div class="modal-body">
                                    <input type="text" class="form-control input-lg" id="roomID" name="roomID" placeholder="Room ID" required>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success" data-bs-dismiss="modal">OK</button>
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </nav>

            <main class="content">
                <div class="container-fluid p-0">
                    <h1>Projects <button class="btn btn-outline-primary" style="margin: inherit;float: right;" data-bs-toggle="modal" data-bs-target="#createProject">Create Project</button></h1>

                    <div id="projects" class="card-deck mx-auto row row-cols-1 row-cols-sm-3 row-cols-lg-5 row-cols-md-3 gap-6 mt-5">

                        <% for(var i=0; i<files.length; i++) { %>
                            <div style="height: 260px;">
                                <div class="card col" style="width:17rem; display:block; margin-right:15px; ">
                                    <img src="<%= image[i] %>" class="card-img-top" alt="...">
                                    <div class="body">
                                        <h1 class="card-title m-2 mb-2">
                                            <%= files[i] %>
                                        </h1>
                                        <span style="margin:5px;" class="ml-2">
                                        <a href="/user/project/open?projectname=<%= files[i] %>" class="btn btn-outline-success hovbutton mb-2"  type="button">Open</a>
                                        <a href="/user/project/delete?projectname=<%= files[i] %>" class="btn btn-outline-danger hovbutton mb-2" id="del" type="button">Delete</a>
                                        <a href="/user/project/download?projectname=<%= files[i] %>" class="btn btn-outline-info hovbutton mb-2"  type="button">Download</a>
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <%}%>
                    </div>


                </div>
        </div>
        <div class="modal fade" id="createProject">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Enter Project Name</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <form action="/user/project/create" method="post">
                        <div class="modal-body">
                            <input type="text" class="form-control input-lg" id="projectName" name="projectName" placeholder="Project Name" required>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Create</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        </main>


    </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js" integrity="sha512-pax4MlgXjHEPfCwcJLQhigY7+N8rt6bVvWLFyUMuxShv170X53TRzGPmPkZmGBhk+jikR8WBM4yl7A9WMHHqvg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- <script src="js/scripts.js"></script> -->




</body>

</html>